openapi: 3.2.0
info:
  title: 'Data Capture: Quote and Risk Data v2 (Sandbox) Lockstate API'
  description: 'A sandbox version of version 2 of the Data Capture API. This API provides a channel for partner systems to feed quote and risk data directly into Beazley''s core Record of Risk systems. The current published version of this API is V1.


    Please contact

    ITArchitecture@Beazley.com if you have any questions about this API.'
  version: '1.0'
servers:
- url: https://api.beazley.com/sandbox/riskcapture/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Lockstate
paths:
  /lockstate/{id}:
    get:
      summary: lockstate
      operationId: 554a0e3f8097920d90ff4e34
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                Id: b767637a-9af9-446b-9622-55679fbaf543
                LockedState: true
                LastUpdated: '2015-08-05T12:33:07.5272587+00:00'
                LastUpdatedVersionNumber: 1
      tags:
      - Lockstate
    put:
      summary: update lockstate
      operationId: 554a108d8097920d90ff4e36
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            example:
              Id: b767637a-9af9-446b-9622-55679fbaf543
              LockedState: 'true'
      responses:
        '200':
          description: ''
      tags:
      - Lockstate
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
