openapi: 3.2.0
info:
  title: Beazley Currencies API
  version: '1.0'
  description: 'Operations tagged Currencies across 2 of this provider''s published API definitions: beazley-currency-exchange-sandbox.yml, beazley-currency-exchange.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.beazley.com/sandbox/fx/v1
- url: https://api.beazley.com/fx/v1
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Currencies
paths:
  /currencies:
    get:
      summary: Currencies
      operationId: 56d088f797fe1e081ca252ec
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
              - ISOCode: GBP
                StartDate: '2015-12-02T00:00:00.0000000+00:00'
              - ISOCode: USD
                StartDate: '2015-12-02T00:00:00.0000000+00:00'
              - ISOCode: EUR
                StartDate: '2015-12-02T00:00:00.0000000+00:00'
              - ISOCode: RON
                StartDate: '2015-12-02T00:00:00.0000000+00:00'
            text/xml:
              example: <ArrayOfCurrency xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Beazley.FX.WebService.Models.FX"> <Currency> <ISOCode>GBP</ISOCode> <StartDate>02-Dec-2015</StartDate> </Currency> <Currency> <ISOCode>USD</ISOCode> <StartDate>02-Dec-2015</StartDate> </Currency> <Currency> <ISOCode>EUR</ISOCode> <StartDate>02-Dec-2015</StartDate> </Currency> <Currency> <ISOCode>RON</ISOCode> <StartDate>02-Dec-2015</StartDate> </Currency> </ArrayOfCurrency>
      tags:
      - Currencies
    servers:
    - url: https://api.beazley.com/sandbox/fx/v1
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- beazley-currency-exchange-sandbox.yml
- beazley-currency-exchange.yml
