openapi: 3.2.0
info:
  title: Fast Reader Faqs API
  description: The Fast Reader API provides basic information on insurance terms, frequently asked questions (coming soon), and Beazley products (also coming soon).
  version: '1.0'
servers:
- url: https://api.beazley.com/sandbox/fastreader/v1
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Faqs
paths:
  /faqs/:
    get:
      summary: FAQs
      description: Get all Frequently Asked Questions
      operationId: 59675bb966f3f16555c931b0
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          enum:
          - application/json
          type: string
          default: application/json
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request-manual'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualPathsInvokeDefinitions_term_Get200ApplicationJsonResponse'
      tags:
      - Faqs
  /faqs:
    get:
      summary: FAQ by intent
      description: Get a specific Frequently Asked Question by the intent name
      operationId: 5972212f109c6c8fce68fc40
      parameters:
      - name: intentName
        in: query
        required: true
        schema:
          type: ''
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          enum:
          - application/json
          type: string
          default: application/json
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request-manual'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualPathsInvokeDefinitions_term_Get200ApplicationJsonResponse'
      tags:
      - Faqs
components:
  schemas:
    ManualPathsInvokeDefinitions_term_Get200ApplicationJsonResponse:
      type: object
      x-apim-schema-name: ManualPathsInvokeDefinitions{term}Get200ApplicationJsonResponse
    request-manual: {}
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
